nav, main, section, footer{ 
    width: 100%;
}

*{ 
    margin:0; 
    padding: 0; 
    font: inherit;
    box-sizing: border-box;
}

ul[ role=”list” ], ol [ role=”list”] {
    list-style:none; 
}

html:focus-within {
     scroll-behavior: smooth 
    }

html, body {
    height:100% 
} 

body { 
    text-rendering: optimize-speed; 
    min-height: 100vh
}

*, 
*::before, 
*::after {
    box-sizing:border-box;
}

img, picture, svg {
    max-width: 100%;
    display: block
}

@media (prefers-reduced-motion: reduce) {
     html:focus-within { scroll-behavior:auto; }
}

set containers to { width: 88%; max-width: 1400px }